@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
* {
  margin: 0;
  padding: 0;
}
div {
  display: flex;
  /* line-height: 0%; */
}
.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4% auto 20%;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
.header {
  grid-area: header;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3ebeff;
  color: #f5f5f4;
  font-family: "Secular One", sans-serif;
  padding: 1rem 2rem;
}
.list-menu {
  display: flex;
}
.list-menu li {
  list-style-type: none;
  padding: 0 1rem;
  color: #f5f5f4;
}
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  /* position: relative; */
}
.main-text {
  display: flex;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #f5f5f4;
}
.main img {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.card-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "card-a card-b"
    "card-c card-d"
    "card-e card-f";
    color: #f5f5f4;
}
.card-a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: card-a;
  padding: 6em 6em;
}
.card-a h1 {
  font-family: 'Lilita One', cursive;
  font-size: calc(1.5em + 1vw);
  padding: 1em 3em 1em 0;
  align-self: flex-start;
  color: #21272e;
}
.card-a p {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  font-size: calc(0.5em + 1vw);
  align-self: flex-start;
  color: #6B728E;
}
.card-b {
  grid-area: card-b;
}
.card-c {
  grid-area: card-c;
}
.card-d {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5em 5em;
  grid-area: card-d;
}
.card-d h1 {
  font-family: 'Lilita One', cursive;
  font-size: calc(1.5em + 1vw);
  padding: 1em 3em 1em 0;
  align-self: flex-start;
  color: #21272e;
}
.card-d p {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  font-size: calc(0.5em + 1vw);
  align-self: flex-start;
  color: #6B728E;
}
.card-e {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
  align-items: center;
  padding: 10%;
  background-image: url('../images/desktop/cherry.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center; 
  grid-area: card-e;
}
.card-e h1 {
  top: 70%;
  font-family: 'Lilita One', cursive;
  font-size: calc(1.5em + 1vw);
  padding: 1em 1em 5% 1em;
  align-self: center;
  color: #112D28;
}
.card-e p {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  font-size: calc(0.5em + 1vw);
  padding: 1em;
  align-self: center;
  color: #22594F;
}
.card-f {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 10%;
  background-image: url('../images/desktop/orage.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center; 
  grid-area: card-f;
}
.card-f h1 {
  top: 70%;
  font-family: 'Lilita One', cursive;
  font-size: calc(1.5em + 1vw);
  padding: 1em 1em 5% 1em;
  align-self: center;
  color: #013951;
}
.card-f p {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  font-size: calc(0.5em + 1vw);
  padding: 1em;
  align-self: center;
  color: #01638D;
}